.theme-midnight {
    .autocomplete__13533 {
        border: 0px solid transparent;
        background-color: var(--background-base-low);
        .wrapper__14245 {
            background-color: var(--background-base-low);
        }

        .wrapper__4e6ce {
            border-right: 0px solid transparent;
        }
    }
}