.theme-midnight {
    .main_c08b38:not(.fullBorderWithGradient_c08b38) {
        border-top: 0px solid transparent;
    }
    .prompt_fe70ca {
        border: 0px solid transparent;
    }
    .navButtons_fe70ca {
        background-color: var(--background-base-lowest);
    }
    .termsFieldBody_fe70ca {
        background-color: var(--background-base-low);
        border: 0px solid transparent;
    }
}