.theme-midnight {
    // Delete Specific Elements
    .footer__432f4,
    .searchBar_e6b769,
    .sectionDivider_e6b769,
    .guildSeparator__252b6,
    .sectionDivider__629e4,
    .nowPlayingColumn__133bf,
    .backForwardButtons__63abb,
    .sidebarResizeHandle__5e434,
    [aria-label="Open GIF picker"],
    [aria-label="Invite to Server"],
    [aria-label="Show User Profile"],
    [aria-label="Hide User Profile"],
    [aria-label="Invite to Channel"],
    [aria-label="Open sticker picker"],
    .buttonContainer_e6e74f.app-launcher-entrypoint,
    .trailing_c38106 a[href="https://support.discord.com"] {
        display: none !important;
    }

    // Remove New Channel Badge
    .channelInfo_c69b6d .eyebrow_cf4812.textBadge__463b7.base__463b7.baseShapeRound__463b7[style="background-color: var(--badge-background-brand);"] {
        display: none !important;
    }

    // Improve Home Button & Discovery Buttons
    .circleIconButton__5bc7e,
    .childWrapperNoHoverBg__6e9f8 {
        background-color: transparent !important;
        color: white !important;
    }

    // Remove Borders
    th,
    td,
    tr,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    code,
    table,
    input,
    button,
    [class*="react"],
    .addFriendUsernameRow__72ba7,
    .addFriendInputWrapper__72ba7,
    [class*="friendRequestsButton"],
    .friendNoteTextContainer__72ba7 {
        border: 0px solid transparent !important;
    }

    // Custom Adjustments
    .focus-rings-ring {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        border: 0px solid transparent !important;
    }

    #emoji-picker-tab {
        order: 1 !important;
    }

    #sticker-picker-tab {
        order: 2 !important;
    }

    #gif-picker-tab {
        order: 3 !important;
    }

    [class*="ownerIcon"] {
        color: white !important;
    }

    .divider_baf530,
    [class*="stars"],
    [class*="sparkles"],
    [class*="Sparkles"],
    .chatGradient__36d07,
    .sidebar__5e434:after,
    [class*="sparkleIcon"],
    [class*="sparkleCloud"],
    .progressBarContainer_baf530,
    .formWithLoadedChatInput_f75fb0:before,
    .peopleColumn__133bf .searchBar__5ec2f,
    .channelBottomBarArea_f75fb0 .floatingBars__74017,
    .addFriendWumpusWrapper__72ba7 [alt="Wumpus Waving"],
    .trailing_c38106 [aria-label="DevTools"]:has([d="M2 20.59V19.4a1 1 0 0 1 .3-.7l2.4-2.42a1 1 0 0 1 .71-.29H6l9-9-.85-.85a1 1 0 0 1-.23-.34l-1.49-3.73a.5.5 0 0 1 .65-.65l3.73 1.5a1 1 0 0 1 .34.22l.64.64a1 1 0 0 1 1.42 0l1 1a1 1 0 0 1 0 1.42l1.58 1.58a1 1 0 0 1 0 1.42l-1.58 1.58a1 1 0 0 1-1.42 0L17 9l-9 9v.59a1 1 0 0 1-.3.7l-2.4 2.42a1 1 0 0 1-.71.29H3.4a1 1 0 0 1-.7-.3l-.42-.4a1 1 0 0 1-.29-.71Z"]) {
        display: none !important;
    }

    [aria-label="Verified"] path[fill="var(--green-360)"],
    [aria-label="Discord Partner"] path[fill="var(--brand-500)"] {
        fill: black !important;
    }

    .verified__09691,
    .partnered__09691 {
        color: black !important;
    }

    .notice_c5cd6a,
    .notice__6e2b9 {
        background-color: #000 !important;
    }

    .notice_c5cd6a button,
    .notice__6e2b9 button {
        background-color: transparent !important;
    }

    .notice_c5cd6a button:hover,
    .notice__6e2b9 button:hover {
        background-color: #252525 !important;
    }

    .eventStatusContainer__29021 path[fill="#6374f4"] {
        fill: white !important;
    }

    [class*="rsvpCount"],
    .botTagRegular__82f07,
    [aria-label="Filter"],
    [aria-label="Mark As Read"],
    [aria-label="Jump to Message"],
    [aria-label="Mark All as Read"],
    [class*="friendRequestsButton"] {
        background-color: transparent !important;
    }
}