.theme-midnight {
    // Content Loading
    .wrapper_fc8177,
    .wrapper_d852db {
        background: var(--background-base-lowest);
    }

    .chatContent_f75fb0,
    .container__34c2c,
    .container_fb64c9 {
        background: var(--background-base-lowest);
    }

    .emptyState__7641b {
        border-left: 0px solid transparent;
    }

    .wrapper_f7ecac {
        background-color: var(--background-surface-high);
    }

    .channelTextArea_f75fb0 {
        background: var(--background-base-low);
    }
    .channelTextArea__74017:not(.inlineContainer__74017) .themedBackground__74017 {
        background: var(--background-base-low);
    }
    .bannerContainer__362cd {
        background: var(--background-base-low);
    }

    .formWithLoadedChatInput_f75fb0:before,
    .chatGradient__36d07 {
        background: linear-gradient(to bottom, transparent, var(--background-base-lowest) 100%);
    }
    .chatTypingGradientAtBottom__36d07 {
        background: linear-gradient(
            to bottom,
            transparent,
            var(--background-base-lowest) 8px,
            var(--background-base-lowest) 100%
        );
    }
    .chatTypingGradientNotAtBottom__36d07 {
        background: linear-gradient(
            to bottom,
            transparent,
            var(--background-base-lowest) 72px,
            var(--background-base-lowest) 100%
        );
    }

    // Commands
    .optionPill__1464f {
        border: 0px solid transparent;
        background-color: var(--background-surface-high);
        .optionPillKey__1464f {
            background-color: var(--background-base-lower);
        }
    }

    .stackedBars__74017 {
        background: var(--background-surface-high);
    }

    // AutoMod
    .embedCard__44c9a {
        border: 0px solid transparent;
        border-bottom: none;
        background-color: var(--background-surface-high);
    }
    .footerContainer__44492 {
        border: 0px solid transparent;
        background-color: var(--background-base-lower);
    }

    .embedCard_b99f57 {
        border: 0px solid transparent;
        background-color: var(--background-surface-high);
        .cardFooter_b99f57 {
            border-top: 0px solid transparent;
            background-color: var(--background-base-low);
        }
    }

    // Channel Followers Publish CTA
    .bumpBox_cacd02 {
        background-color: var(--background-base-low);
        border: 0px solid transparent;
    }

    .footer__432f4,
    .searchBar_e6b769,
    .sectionDivider_e6b769,
    .guildSeparator__252b6,
    .sectionDivider__629e4,
    .nowPlayingColumn__133bf,
    .backForwardButtons__63abb,
    .sidebarResizeHandle__5e434,
    [aria-label="Open GIF picker"],
    [aria-label="Invite to Server"],
    [aria-label="Show User Profile"],
    [aria-label="Hide User Profile"],
    [aria-label="Invite to Channel"],
    [aria-label="Open sticker picker"],
    .buttonContainer_e6e74f.app-launcher-entrypoint,
    .trailing_c38106 a[href="https://support.discord.com"] {
        display: none !important;
    }

    .circleIconButton__5bc7e,
    .childWrapperNoHoverBg__6e9f8 {
        background-color: transparent !important;
        color: white !important;
    }

    th,
    td,
    tr,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    code,
    table,
    input,
    button,
    [class*="react"] {
        border: 0px solid transparent !important;
    }
}